<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.username %></h1>

</p>

<p><% if @user.ratings.empty? %>
 You have not rated any beers yet!
<% else %>
Has made <%= pluralize(@user.ratings.count, 'rating')%>, average <%= @user.average_rating%>
<% end %>
</p>
<% if @user.ratings.any? %>
  <p>Favorite style <%= @user.favorite_style %></p>

  <p>Favorite brewery <%= @user.favorite_brewery.name %></p>
<% end %>
<p>Member of: <% @user.beer_clubs.each do |beerclub|%> <%=link_to beerclub.name, beerclub%> <%end%>
</p>
<p><h2>Ratings:</h2></p>
<ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </li>
    <% end %>
  </ul>
<% if @user == current_user %>
<%= link_to 'Delete', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %> <% end %>
<%= link_to 'Back', users_path %>
